openapi: "3.0.0"
info:
  title: Order Management API
  version: 1.0.0
  description: Order processing and fulfillment tracking service
  contact:
    name: connectx
servers:
  - url: https://gravitee-gw.au.connectxconsultingptyltd.cftenant.com
    description: Production Gateway
tags:
  - name: orders
    description: Order management operations
paths:
  /order-api:
    get:
      summary: List orders
      operationId: listOrders
      tags: [orders]
      security:
        - apiKey: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, processing, shipped, delivered, cancelled]
        - name: customerId
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderList"
        "401":
          description: Unauthorized
        "429":
          description: Rate limited
components:
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
        customer:
          type: string
        product:
          type: string
        status:
          type: string
          enum: [pending, processing, shipped, delivered, cancelled]
        amount:
          type: number
          format: float
      required: [id, customer, product, status]
    OrderList:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: "#/components/schemas/Order"
        total:
          type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Gravitee-Api-Key
security:
  - apiKey: []
